# Compiled object files
*.o
*.obj

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executable files
knights_travails

# Dependency directories
build/
bin/

# Miscellaneous files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
